<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Chat</title>
    <link rel="stylesheet" href="../../css/chat.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts Link For Icons -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="./images/title.png">
    <script src="../../javascript/chat.js" defer></script>
</head>

<body>
    <div class="chatbot">
        <header>
            <div class="bot-info">
                <% if(data.image) {%>
                    <div style="background-image: url(<%=data.image%>); background-size: cover; width: 50px; height: 50px; border-radius: 20px; max-width: 50px; max-height: 50px;">

                    </div>
                <% } else {%>
                    <img src="../../images/bot.png" alt="" srcset="">
                <% } %>
                <div class="bot-details">
                    <div class="bot-name"><%=data.name%> <p class="online"></p>
                    </div>
                </div>
            </div>
            <a href="/dashboard">
                <span class="material-symbols-outlined">
                    logout
                </span>
            </a>
        </header>
        <ul class="chatbox">
            <li class="chat incoming">
                <% if(data.image) {%>
                    <div class="imgurl" data-botimage="<%=data.image%>"></div>
                    <img src="<%=data.image%>" alt="">
                <% } else {%>
                    <div class="imgurl" data-botimage="../../images/bot.png"></div>
                    <img src="../../images/bot.png" alt="" srcset="">
                <% } %>
                <div class="message-container">
                    <div class="message-info">                 
                      <div class="user-name"><h5><%=data.name%></h5></div>
                      <div class="message-text">
                        <div class="chat-response">Hi there 👋 How can I help you today?</div>
                      </div>
                    </div>
                  </div>
            </li>
        </ul>
        <% if(data.assistantId != undefined) {%>
            <div style="display: none;" id="inf" data-assistant="true" data-id="<%=data.id%>" data-assistantid="<%=data.assistantId%>"></div>
        <% } else {%>
            <div style="display: none;" id="inf" data-assistant="false" data-prompt="<%=data.chatPrompt%>" data-id="<%=data.id%>" data-model="<%=data.model%>"></div>
        <% } %>
        <div class="chat-input">
            <div class="num-of-files">No Files Chosen</div>
            <div class="textarea">
                <div class="error-container upload-file" <% if(data.assistantId == undefined) {%>  style="display: none;"  <% } %> >
                    <div class="input-field">
                        <input type="file" name="assistantFiles" id="additionalFiles" style="display: none;" multiple/>
                        <label for="additionalFiles">
                            <span class="icon material-symbols-outlined">
                                attach_file
                                </span>
                        </label>
                        <ul id="files-list"></ul>
                    </div>
                    <div class="errormessage"></div>
                </div>
                     
                <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
                <span id="send-btn" class="material-symbols-rounded send">send</span>
            </div>
        </div>
    </div>

</body>

</html>