<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/settings.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" type="image/png" href="./images/title.png" />
    <title>Users</title>
    <!-- Add links to CSS files and JavaScript here if needed -->
  </head>

  <body>
    <!-- ====================== flash message ============-->
    <% if (error && error.length) {%>
    <div class="toast error active">
      <div class="toast-content">
        <span class="material-symbols-outlined check"> check </span>
        <div class="message">
          <span class="text text-2"> <%= error %> </span>
        </div>
      </div>
      <span class="material-symbols-outlined close"> close </span>
      <div class="progress active"></div>
    </div>
    <% } %> <% if (success && success.length) {%>
    <div class="toast active">
      <div class="toast-content">
        <span class="material-symbols-outlined check"> check </span>
        <div class="message">
          <span class="text text-2"> <%= success %> </span>
        </div>
      </div>
      <span class="material-symbols-outlined close"> close </span>
      <div class="progress active"></div>
    </div>
    <% } %> <% if (error && error.length || success && success.length) { %>
    <script>
      //  ====================== flash message ===========
      const toast = document.querySelector(".toast");
      const closeIcon = document.querySelector(".close");
      const progress = document.querySelector(".progress");
      let timer1, timer2;
      timer1 = setTimeout(() => {
        toast.classList.remove("active");
      }, 7000); //1s = 1000 milliseconds
      timer2 = setTimeout(() => {
        progress.classList.remove("active");
      }, 7300);
      closeIcon.addEventListener("click", () => {
        toast.classList.remove("active");
        setTimeout(() => {
          progress.classList.remove("active");
        }, 300);
        clearTimeout(timer1);
        clearTimeout(timer2);
      });
    </script>
    <% } %>
    <div class="overlay"></div>
    <aside class="dashboard-sidebar">
      <div class="sidebar-content">
        <div class="sidebar-logo">
          <img src="./images/logo.png" alt="OAM AI Logo" class="logo" />
        </div>
        <nav class="sidebar-nav">
          <ul>
            <li class="nav-item active overview">
              <a href="/admin">
                <span class="icon material-symbols-outlined"> smart_toy </span>
                <span>Prompts</span>
              </a>
            </li>
            <li class="nav-item overview">
              <a href="/users">
                <span class="icon material-symbols-outlined"> group </span>
                <span>Users</span>
              </a>
            </li>
            <!-- More nav items -->
          </ul>
        </nav>
        <div class="sidebar-footer">
          <a href="/logout">
            <span>Logout</span>
            <span class="icon material-symbols-outlined">
              arrow_right_alt
            </span>
          </a>
        </div>
      </div>
    </aside>

    <main class="dashboard-main">
      <header class="dashboard-header">
        <span class="menu-toggle material-symbols-outlined"> menu </span>
      </header>

      <button class="btn add-batch">adds</button>
      <div class="card prop users-ta">
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th class="name">First Name</th>
                <th class="date">Last Name</th>
                <th>Email</th>
                <th class="phone">Phone Number</th>
                <th>Total Usage</th>
                <!-- <% for (let assistant of prompts.assistants ) {%>
                <th><%= assistant.assistantName %></th>
                <% } %> <% for (let chatCompletion of prompts.chatCompletions )
                {%>
                <th><%= chatCompletion.chatName %></th>
                <% } %> -->
                <th>Usage Credit</th>
              </tr>
            </thead>
            <tbody>
              <% for (let user of users ) {%>
              <tr>
                <td class="name"><%= user.firstName %></td>
                <td class="name"><%= user.lastName %></td>
                <td><%= user.username %></td>
                <td class="phone"><%= user.phoneNumber %></td>
                <td><%= user.totalUsage %></td>
                <!-- <% for (let assistant of user.assistantUsage ) {%>
                <td><%= assistant.usageLimit || 0 %></td>
                <% } %> <% for (let chatCompletion of user.chatUsage )
                {%>
                <td><%= chatCompletion.usageLimit || 0 %></td>
                <% } %> -->
                <td class="delete-btn uers" data-userid="<%=user._id%>">
                  <button class="btn add add-access">
                    <span class="material-symbols-outlined"> add </span>
                  </button>
                  <button class="btn delete edit-access">
                    <span class="material-symbols-outlined"> delete </span>
                  </button>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="modal__container">
        <div class="modal-overlay"></div>
        <div class="modal__content">
          <h4 class="modal__title">Set User Access Right</h4>
          <form
            action="/admin/usage"
            method="post"
            class="propertyForm"
            id="property-form"
          >
            <div class="form-body">
              <input
                type="text"
                id="userId"
                name="userId"
                style="display: none"
                value=""
              />
              <div class="error-container">
                <div class="select-box" id="select-box">
                  <div class="options-container">
                    <% Object.keys(prompts).forEach(key => { %> <%
                    prompts[key].forEach(prompt => { %>
                    <div class="option">
                      <input
                        type="radio"
                        class="radio"
                        id="<%= prompt._id %>"
                        value="<%= prompt._id %>"
                        name="prompt"
                      />
                      <label for="<%= prompt._id %>"
                        ><%= prompt.assistantName || prompt.chatName %></label
                      >
                    </div>
                    <% }) %> <% }) %>
                  </div>
                  <div class="selected">
                    <span
                      ><span class="material-symbols-outlined icon">
                        expand_less
                      </span></span
                    >
                    <p>Select a Prompt</p>
                  </div>
                </div>
                <div class="errormessage"></div>
              </div>
              <div class="error-container">
                <div class="input-field">
                  <label for="usageLimit">Usage Limit</label>
                  <input
                    type="number"
                    id="usageLimit"
                    placeholder="Entre the usage limit"
                    name="usageLimit"
                    class="input access"
                  />
                </div>
                <div class="errormessage"></div>
              </div>
            </div>
            <div class="form-buttons">
              <button type="reset" class="btn btn-secondary modal__close">
                <span>CANCEL</span>
              </button>
              <input
                type="submit"
                class="btn save-btn"
                style="text-align: center"
                value="SAVE"
              />
            </div>
          </form>
        </div>
      </div>
      <div class="batch-modal__container">
        <div class="batch-modal-overlay"></div>
        <div class="modal__content batch-modal__content">
          <h4 class="modal__title">Set User Access Right</h4>
          <form
            action="/admin/usage"
            method="post"
            class="propertyForm"
            id="property-form"
          >
            <div class="form-body">
              <div class="error-container">
                <div class="select-box" id="select-box">
                  <div class="batch-options-container">
                    <% Object.keys(prompts).forEach(key => { %> <%
                    prompts[key].forEach(prompt => { %>
                    <div class="batch-option">
                      <input
                        type="radio"
                        class="radio"
                        id="<%= prompt._id + 'batch' %>"
                        value="<%= prompt._id %>"
                        name="promptBatch"
                      />
                      <label for="<%= prompt._id + 'batch' %>"
                        ><%= prompt.assistantName || prompt.chatName %></label
                      >
                    </div>
                    <% }) %> <% }) %>
                  </div>
                  <div class="batch-selected">
                    <span
                      ><span class="material-symbols-outlined icon">
                        expand_less
                      </span></span
                    >
                    <p>Select a Prompt</p>
                  </div>
                </div>
                <div class="errormessage"></div>
              </div>
              <div class="error-container">
                <div class="input-field">
                  <label for="usageLimit">Usage Limit</label>
                  <input
                    type="number"
                    id="usageLimit"
                    placeholder="Entre the usage limit"
                    name="usageLimit"
                    class="input access"
                  />
                </div>
                <div class="errormessage"></div>
              </div>
              <div class="error-container">
                <div class="input-field">
                  <label for="emails">emails</label>
                  <input
                    id="emails"
                    placeholder="Enter email separated by commas"
                    name="emails"
                    class="input"
                  >
                  </input>
                </div>
                <div class="errormessage"></div>
              </div>
            </div>
            <div class="form-buttons">
              <button type="reset" class="btn btn-secondary batch-modal__close">
                <span>CANCEL</span>
              </button>
              <input
                type="submit"
                class="btn save-btn"
                style="text-align: center"
                value="SAVE"
              />
            </div>
          </form>
        </div>
      </div>
      <div class="edit_modal__container">
        <div class="edit_modal-overlay"></div>
        <div class="modal__content edit-modal__content">
          <h4 class="modal__title">Add new ChatCompletion</h4>
          <div class="form-body">
            <div class="error-container">
              <div class="input-field">
                <label for="edit-propertyName">Prompt Name</label>
                <input
                  type="text"
                  id="edit-propertyName"
                  class="input"
                  disabled
                />
              </div>
              <div class="errormessage"></div>
            </div>
            <div class="error-container">
              <div class="input-field">
                <label for="usageLimit">Usage Limit</label>
                <input type="number" id="usageLimit" class="input" disabled />
              </div>
              <div class="errormessage"></div>
            </div>
            <form
              action="/admin/usage/delete?_method=Delete"
              style="margin: auto"
              method="post"
            >
              <input type="text" name="userId" value="" style="display: none" />
              <input
                type="text"
                name="promptId"
                value=""
                style="display: none"
              />
              <button class="btn delete delete-prompt">
                <span class="material-symbols-outlined"> delete </span>
              </button>
            </form>
          </div>
          <div class="form-buttons">
            <button type="reset" class="btn btn-secondary edit_modal__close">
              <span>CANCEL</span>
            </button>
            <input
              type="submit"
              class="btn save-btn"
              style="text-align: center"
              value="SAVE"
            />
          </div>
        </div>
      </div>
    </main>

    <script src="./javascript/user.js"></script>
  </body>
</html>
